body {
  font-family: 'Rampart One', cursive; 
  background-color: #e0d9e8ff;

}

.header { 
  border-top-left-radius: 7%;
  background-color: #f87666ff;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  display:flex; 
  flex-flow: column;
}

.header-title {
  font-size: 2em;  
  color: #E02929;  
  padding: 0.5em;
  margin: 0 auto;
 
}

.header-blurb {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #e0d9e8ff;
  display: flex;
  flex-direction: column;
}

.nav {   
  border:  dashed 5px #f87666ff;
  border-radius: 10%;
  padding: 0.5em;
  margin: 0.5em;
  font-family: 'Varela Round', sans-serif;
  color: #564d6aff;
  background-color:#e0d9e8ff;
  display: flex;  
  flex-direction: column;
  align-items: center;
  
}

.nav-flex {
  display: flex;
  flex-direction: column;
}


.article-container {
  font-family: 'Varela Round', sans-serif;
  color: #e0d9e8ff;
  text-align: center;
  background-color: #564d6aff;
  padding: 0.2em;
  border: dotted #e0d9e8ff 2px;
  display: flex;
  flex-direction: column;
 }

.article { 
  color: #e0d9e8ff;
  border: dotted #e0d9e8ff 2px;
  margin: 0.2em;
  padding: 0.2em;
}

.articleform {
  color: #904C77;
  background-color: plum;
  font-style: italic;
  padding: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fave {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.field {
  margin: 1em;
}
#fave {
  width: 100%;
  border: none;
}
#newsletter {
  width: 20em;
  height: 2em;
  border: none;
}
#email {
  border:none;
  height: 2em;
  margin: 1em;

}
#address {
  border: none;
  height: 2em;
  margin: 1em;
}

input[type=submit] {
  background-color:  #564d6aff;
  color: plum;
  font-size: 1em;
  border: none;
  text-transform: uppercase;
  padding: 1em 2em;
  margin: 1.5em;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type=submit]:hover {
  background-color:  #92AF83;;
}

.section {
  font-family: 'Varela Round', sans-serif;
  color: #564d6aff;
  Padding: 2em;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.section-contact {
  font-family: 'Varela Round', sans-serif;
  color: #564d6aff;
  text-align: center;
  padding: 1em;
}
input[type=checkbox] {
 margin: 1.5em;

}

.imglink {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

footer{
  color: #564d6aff ;
  background-color: #f87666ff;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0
}

.image1 {
  opacity: 1;
  width: 15em;
  border: 5px dotted #E02929;
  border-radius: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  Margin: 1em;
}


#contact-button {
  border: dashed 0.25em #564d6aff;
  opacity: 1;
  width: 15em;  
  border-radius: 50%;
  
  top: 2em;
  left: 2em; 
  padding: 1em;
  Margin: 1em;

}


p1 {
  font-family: 'Varela Round', sans-serif;
  color: #e0d9e8ff;
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;
}

p2 {
  font-family: 'Varela Round', sans-serif;
  color: #564d6aff;
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;

}

ul {
  list-style-type: square;
  color:#E02929
} 

a:link {
  color:#C8BCC8; 
}

.a1:link {
  color: #904C77;
}

a:visited {
  color: #E9EFE6;
}
a:hover {
  color: #e02929;
}

.a-light:link {
    color:#904C77;
}
.a-light:visited 
{
  color: #92AF83;
}
.a-light:hover 
{
  color:#E02929;
}


@media screen and (min-width: 40em) {
  
  .header-blurb {
  border: dashed 0.25em #564d6aff;
  border-radius: 50%;
  padding: 0.25em;
  margin: 0 auto;
  position: relative;
  background-image: none;
  display: flex;
  flex-direction: row;
  }

  #contact-button {
    border: dotted 5px #e0d9e8ff;
    padding: 0;
  
  }

  .nav {
    border: dotted 7px #f87666ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   .nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .header {
  background-image: url('/Images/jumping-spider-red-leaf.jpg');
  background-repeat: repeat-y;
  background-size: 5em;
  background-position: right;  
  }
  .section {
  display: flex;
  flex-flow: column wrap;
  }
  .imglink{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .article-container {
    display: flex;
    order:-2, -1, 1;
    align-items: centre;
    order: 3;
    align-self: stretch;
    order: -3;
    align-self: baseline;
  }

  
 
  .image1 {
    display: flex;
    flex-direction: row;
  }

  #image2 {
    border: none;
  }


